{
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "indent": ["error", 2],
        "node/exports-style": ["error", "module.exports"]
    }
}